:root {
	--black: #171718;
	--black-border: #26292D;
	--white: #fff;
	--purple: #5C62EC;
  
	--dark-bg: var(--black);
	--dark-border: var(--black-border);
	--header-text: var(--white);
	--accent: var(--purple);
  }


// .header {
// 	// background-color: rgb(195, 220, 231);
// 	padding: 50px 0;

// 	&__row {
// 		display: flex;
// 		justify-content: space-between;
// 		align-items: center;
// 	}
// }

//*Nav*//

.nav {
	background-color: var(--dark-bg);
	color: var(--header-text);
	padding: 20px 0px 20px 0px;
	border-bottom: 1px solid var(--dark-border);
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	color: var(--header-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;

	// .nav-list__link

	&__link {
		color: var(--header-text);
		transition: opacity 0.2s ease-in;
	}
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link:hover{
	opacity: 0.8;
}

.nav-list__link--active::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	// display: block;
	width: 100%;
	height: 3px;
	background-color: var(--accent);
}

//*Header*//

.header {
	background: url('./../img/header-bg.png') no-repeat center center / auto;
}

.header {
	padding: 40px 0;
	min-height: 700px;
	background-color: var(--dark-bg);
	color: var(--header-text);

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	// background-image: url('./../img/header-bg.png');
	// background-repeat: no-repeat;
	// background-size: auto;
	// background-position: center center;


	.header__wrapper

	&__wrapper {
		padding: 0 15px;
		max-width: 660px;
	}

	// .header__tittle

	&__title {
		font-size: 40px;
		font-weight: 700px;
		line-height: 1.4;
		margin-bottom: 20px;
	}

	&__title strong {
		font-size: 60px;
		font-weight: 700;
	}

	&__title em {
		font-style: normal;
		color: var(--accent);
	}

	// .header__text

	&__text {
		font-size: 18px;
		line-height: size(24px, 18);
		margin-bottom: 40px;
	}

	&__text p + p {
		margin-top: 0.5em;
	}

}
.container {
}

.btn {
	display: inline-block;
	height: 48px;
	padding: 12px 28px;
	background-color: var(--accent);
	border-radius: 5px;
	color: var(--white);
	letter-spacing: 0.15px;
	font-size: 16px;
	font-weight: 500;
	transition: opacity 0.2s ease-in;
	&:hover {
		opacity: 0.8;
	}
}

.btn:active {
	position: relative;
	top: 1px;
}

// .btn {
// 	display: inline-flex;
// 	color: var(--header-text);
// 	align-items: center;
// 	justify-content: center;
// 	background-color: var(--accent);
// 	min-width: 160px;
// 	height: 48px;
// 	border-radius: 5px;
// 	line-height: size(24px, 16);
// }



// #myElement {
// 	width: 100px;
// 	height: 100px;
// 	background-color: red;
// 	transition: background-color 1s ease;
// }